.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #111;
    border-radius: 32px;
    width: 600px;
    height: 615px;
    padding-inline: 100px;
    text-align: center;
    border: 1px solid #00D8FF80;

    display: flex;
    flex-flow: column;
    align-items: center;
}

.modal-title-img {
    width: 300px;
    height: 120px;
    object-position: center;
    object-fit: contain;
}

.modal-content h2 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding-block-end: 24px;
    margin-block-start: -16px;
}

form {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 24px
}

.form-group {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1;
}

.form-input {
    outline: none;
    background-color: #1e1e1e;
    border: 1px solid #00D8FF80;
    padding-inline: 12px;
    padding-block: 16px;
    color: #fff;
    border-radius: 8px;
    width: 100%;
}

.error {
    color: red;
    font-size: 12px;
}

.submit-btn {
    width: 50%;
    outline: none;
    border: 1px solid #B700FF;
    background-color: #1e1e1e;
    color: #fff;
    align-self: center;
    margin-bottom: 16px;
    height: 48px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.submit-btn:hover {
    background-color: #B700FF;
}

.submit-btn:disabled {
    background-color: #666;
    border: none;
    color: #999;
    cursor: default;
}

.success-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success-wrapper .success {
    color: green;
}