<div class="header">
    <img src="assets/icons/main.png" class="header__icon" (click)="navigate('/')">
    <div class="header__menu">
        <div class="header__item" (click)="navigate('/schedule')">Расписание</div>
        <div class="header__item">Цены</div>
        <div class="header__item">Команда</div>
        <div class="header__item">Бронирование</div> 
        <div class="header__item">Контакты</div>
        <img src="assets/icons/profile.png" class="header__icon profile" (click)="navigate('/admin')">
    </div>
</div>
