body {
  margin: 0 !important;
  background-color: black;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

* {
  box-sizing: border-box;
}