.container {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    font-size: 28px;
    width: 810px;
    text-align: center;
}

.container-main-text {
    height: 42px;
    width: 294px;
    margin-bottom: 32px;
}

.container-main-button {
    cursor: pointer;
    margin-top: 50px ;
    background-color: black;
    border: 3px solid #B700FF;
    height: 120px;
    width: 400px;
    color: white;
    font-size: 42px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: transform .3s ease;
}

.container-main-button:hover {
    transform: scale(1.05, 1.05);
}
