.footer {
    color: white;
    font-weight: lighter;
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgba(98, 98, 98, 0.5);
}